@import url("https://fonts.googleapis.com/css?family=Raleway:100,200");

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #3a3a39;
    height: 100%;
    width: 100%;
    margin: 0;
}

.main-header {
    height: 2.95rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.65rem;
}

.main-header a {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    letter-spacing: 0.53333rem;
    text-indent: 0.53333rem;
    color: #E5E3E1;
    text-decoration: none;
}

.main-nav {
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.45rem;
}

.main-nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 0.45rem;
    letter-spacing: 0.15rem;
    text-indent: 0.15rem;
    color: #E5E3E1;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-rows: repeat(8, 48vw);
    grid-gap: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 2.3rem;
    overflow-y: scroll;
}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.content-one {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_S3XBRRS2D9.jpg");
    filter: contrast(100%) saturate(1.3);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-two {
    background-color: #5B5A59;
    background-image: url("../images/MountainSky.jpg");
    filter: contrast(100%) saturate(1.5);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-three {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_FUR5372BT3.jpg");
    filter: contrast(100%) saturate(1.4);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-four {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_KEYPZX8EKK.jpg");
    filter: contrast(110%) saturate(1.3);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-five {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_IOCZXSRH3C.jpg");
    filter: contrast(160%) saturate(1.4);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-six {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_22DVN8IWSV.jpg");
    filter: contrast(80%) saturate(1.4);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-seven {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_YM1V8KLYPK.jpg");
    filter: contrast(120%) saturate(1.9);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-eight {
    background-color: #5B5A59;
    background-image: url("../images/StockSnap_55TDWI6FC6.jpg");
    filter: contrast(100%) saturate(1.4);
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
}

.overlay a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-size: 1.1rem;
    color: #F8F8F7;
    letter-spacing: 0.36667rem;
    text-indent: 0.36667rem;
    text-align: center;
}

.overlay a:hover {
    color: #f9f9f9;
}

.main-footer {
    position: absolute;
    bottom: 0;
    height: 2.3rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer a {
    font-size: 0.8rem;
    color: #E5E3E1;
    padding: 0 1.2rem;
}

.main-footer a:hover {
    color: #e1e3e5;
}

@media screen and (min-width: 360px) {
    .main-header a {
        font-size: 1.8rem;
        letter-spacing: 0.5994rem;
        text-indent: 0.5994rem;
    }

    .main-nav div {
        width: 7.4rem;
    }

    .main-nav a {
        font-size: 0.55rem;
        letter-spacing: 0.18315rem;
        text-indent: 0.18315rem;
    }

    .main-footer a {
        padding: 0 1.4rem;
    }
}

@media screen and (min-width: 568px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 24vw);
        max-width: 60rem;
    }
}

@media screen and (min-width: 1366px) {
    .grid {
        grid-template-rows: repeat(4, 15.5vw);
    }
}
