@import url('https://fonts.googleapis.com/css?family=Raleway:100,200|Questrial');
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f1f1f0;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 2.3rem; // padding-bottom must == footer height
  position: relative;
}

.container {
  position: relative;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  filter: contrast(130%) saturate(1.5);
}

.centered {
  position: absolute;
  top: 0;
  width: 100%;
}

.main-header {
  height: 2.95rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.65rem;
  a {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    letter-spacing: 1/3 * 1.6rem;
    text-indent: 1/3 * 1.6rem;
    color: #f1f1f0;
    text-decoration: none;
  }
}

.main-nav {
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.45rem;
  }
  a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 0.45rem;
    letter-spacing: 1/3 * 0.45rem;
    text-indent: 1/3 * 0.45rem;
    color: #f1f1f0;
    text-decoration: none;
  }
}

.content {
  font-family: 'SavoyRoman', serif;
  color: black;
  letter-spacing: 0.02rem;
  padding: 1rem 1.4rem;
  h1 {
    font-weight: normal;
    font-size: 2.6rem;
    line-height: 2.8rem;
    max-width: 70rem;
  }
  h2 {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.8rem;
    max-width: 70rem;
  }
  h3 {
    font-family: 'Questrial', serif;
    font-weight: normal;
    font-size: 0.83rem;
    letter-spacing: 0.13rem;
    color: #72716f;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    max-width: 70rem;
  }
  a {
    text-decoration: none;
    color: blue;
    &:hover {
      color: complement(blue);
    }
  }
  ol {
    // padding: 0rem 0rem 0rem 1rem;
    li {
      font-size: 1.1rem;
      line-height: 1.5rem;
      padding: 0.25rem 0rem 0.25rem 0.5rem;
    }
  }
  ul {
    padding: 0rem 0rem 0rem 0rem;
    list-style: none;
    li {
      font-size: 1.1rem;
      line-height: 1.5rem;
      padding: 0.25rem 0rem 0.25rem 0rem;
    }
  }
  .alpha {
    list-style: lower-alpha;
    padding: 0.5rem 0rem 0rem 2.5rem;
    li {
      padding: 0rem 0rem 0rem 0.5rem;
    }
  }
  textarea {
    width: 100%;
  }
  .separator {
    width: 2/3 * 100%;
    height: 1px;
    background-color: #cccccc;
    margin: 4rem auto;
  }
}

.chart {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main-footer {
  position: absolute;
  bottom: 0;
  height: 2.3rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-size: 0.8rem;
    color: #1e1e1e;
    padding: 0 1.2rem;
    &:hover {
      color: complement(#1e1e1e);
    }
  }
}

@media screen and (min-width: 360px) {
  .main-header {
    a {
      font-size: 1.8rem;
      letter-spacing: 1.8 * 0.333rem;
      text-indent: 1.8 * 0.333rem;
    }
  }
  .main-nav {
    div {
      width: 7.4rem;
    }
    a {
      font-size: 0.55rem;
      letter-spacing: 0.55 * 0.333rem;
      text-indent: 0.55 * 0.333rem; // padding: 0 2.4rem;
    }
  }
  .main-footer {
    a {
      padding: 0 1.4rem;
    }
  }
}
